<!DOCTYPE html>
<html>
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home — Digit Simplified Solution</title>
    <!-- Site Fav Icon -->
    @*<link rel="apple-touch-icon" sizes="57x57" href="~/App_Themes/img/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/App_Themes/img/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/App_Themes/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/App_Themes/img/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/App_Themes/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/App_Themes/img/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/App_Themes/img/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/App_Themes/img/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/App_Themes/img/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/App_Themes/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/App_Themes/img/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/App_Themes/img/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/App_Themes/img/icons/favicon-16x16.png" sizes="16x16">*@
    <link rel="manifest" href="~/App_Themes/img/icons/manifest.json">
    <link rel="mask-icon" href="~/App_Themes/img/icons/safari-pinned-tab.svg">
    <link rel="shortcut icon" href="~/App_Themes/img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="~/App_Themes/img/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="~/App_Themes/img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Dependency Styles -->
    <link rel="stylesheet" href="~/Dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/Swiper/css/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/simple-line-icons/css/simple-line-icons.css" type="text/css">
    <link rel="stylesheet" href="~/App_Themes/fonts/flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/animate.css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/jPushMenu/css/jPushMenu.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/owl.carousel/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/owl.carousel/css/owl.theme.default.min.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/plyr/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/Dependencies/lightgallery/css/lightgallery.css" type="text/css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="~/App_Themes/css/app.css" type="text/css">
    <link rel="stylesheet" href="~/App_Themes/css/theme-color.css" type="text/css">
    <!-- Google Web Fonts -->
    @*<link href="~/App_Themes/fonts/Uranus.otf" rel="stylesheet">
    <link href="~/App_Themes/fonts/Uranus.ttf" rel="stylesheet">*@
    @*<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700" rel="stylesheet">*@

</head>
<body>

    <!--=========================-->
    <!--=        Header         =-->
    <!--=========================-->
    <div class="top-line">
            <div class="container ">
                <div class="right-line clearfix">
                    <ul class="top-info">
                        <li>
                            <p>
                                <i class="fa fa-phone"></i>
                                <a href="tel:9055818773">9055818773</a>
                            </p>
                        </li>
                        <li style=" padding-bottom: 10px;">
                            <a href="mailto:info@digitsimplified.com">info@digitsimplified.com</a>
                        </li>
                        <li class="quote-link-mar" style=" padding-bottom: 10px;">
                            <a href="/#contact" class="quote-link">Get Quote</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    <header id="dt-header">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand logo-one" href="/"><img src="~/App_Themes/img/icons/Digit-Simplified-Solutions-Final-updated-03.png" alt=""></a>
                    <a class="navbar-brand logo-two" href="/"><img src="~/App_Themes/img/icons/Digit-Simplified-Solutions-Final-updated-01.png" alt=""></a>
                </div>
                <div class="menu-toggle menu_slide navbar-right toggle-menu menu-right push-body headroom">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- /.menu-toggle -->
            </nav>
        </div>
        <!-- /.container -->
    </header>
    <!-- /#header -->
    <!--============================-->
    <!--=        Side Menu         =-->
    <!--============================-->
    <div  class="dt-slide-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
        <div class="dt-header-logo">
            <a href="/"><img src="~/App_Themes/img/icons/Digit-Simplified-Solutions-Final-updated-02.png" style="width: 200px;" alt=""></a>
        </div>
        <!-- /.dt-header-logo -->
        <ul class="dt-primary-menu" style="font-family: Helvetica Neue, Helvetica;">
            <li class="menu-item-has-children">
                <a href="0#">Home</a>
                <ul class="child-menu">
                    <li><a href="/">Home V1</a></li>
                    @*<li><a href="index-two.html">Home V2</a></li>*@
                </ul>
            </li>
            <li><a href="~/#about-us">About DSS</a></li>
            <li><a href="~/#feature-two">DSS Approach</a></li>
            <li><a href="~/#applo-chef">DSS Services</a></li>
            <li><a href="~/#pricing">Pricing</a></li>
            <li><a href="~/#contact">Contact Info</a></li>
            @*<li><a href="index.html#get-applo">Download</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Woocommerce</a>
                    <ul class="child-menu">
                        <li><a href="woocommerce.html">Woocommerce Page </a></li>
                        <li><a href="woocommerce-single.html">Woocommerce Single Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="blog.html">Blog</a>
                    <ul class="child-menu">
                        <li><a href="blog.html">Blog Page </a></li>
                        <li><a href="blog-single.html">Blog Single Page</a></li>
                        <li><a href="blog-single-two.html">Blog Single Page 2</a></li>
                    </ul>
                </li>*@
        </ul>
        @*<ul class="dt-secondary-menu">
            <li><a href="#">Faq</a></li>
            <li><a href="#">Terms and Condition</a></li>
            <li><a href="#">Privecy policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>*@
        <div class="get-in-touch">
            <h3>Get In Touch</h3>
            @*<i class="flaticon-fork"></i>*@
            <form action="#" class="form">
                <input type="text" class="input" name="name" placeholder="Your Name" style="font-family: Helvetica Neue, Helvetica;">
                <input type="text" class="input" name="name" placeholder="Your Email" style="font-family: Helvetica Neue, Helvetica;" >
                <textarea name="massage" class="input" id="massage" placeholder="Massage" style="font-family: Helvetica Neue, Helvetica;" ></textarea>
            </form>
            <a href="#" class="dt-menu-btn">Send Massage</a>
            <ul class="dt-social-link">
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                @*<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>*@
            </ul>
        </div>
        <!-- /.get-in-touch -->
    </div>
    <!-- /.dt-slide-menu -->
    @RenderBody()
    <section id="contact" class="footer_contact" data-bg-image="/Content/Images/about/2.png">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 id="Contact_info" class="footer_title">Contact info</h3>
                    <h3 id="Web_Design" style="display:none" class="footer_title">Web Design</h3>
                    <h3 id="Software_Development" style="display:none" class="footer_title">Software Development</h3>
                    <h3 id="Software_Maintenance" style="display:none" class="footer_title">Software Maintenance</h3>
                    <h3 id="IT_Consulting" style="display:none" class="footer_title">IT Consulting</h3>
                    <div class="info">
                        <div class="info-icon color-1">
                            <i class="fa fa-building"></i>
                        </div>
                        <div class="content">
                            <h4>Address</h4>
                            <p>129/2 Smackdown, Smackth</p>
                            <p>Jaflong, United Kingdom</p>
                        </div>
                    </div>
                    <!-- /.info -->
                    <div class="info">
                        <div class="info-icon color-2">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="content">
                            <h4>Email</h4>
                            <p>info@digitsimplified.com</p>
                            @*<p>Support : support@dss.com</p>
                            <p>General : info@dss.com</p>*@
                        </div>
                    </div>
                    <!-- /.info -->
                    <div class="info">
                        <div class="info-icon color-3">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <h4>Call</h4>
                            <p>Torronto: (905) 5818773 </p>
                            <p>Toll Free: (866) 6DIGIT6 (634-4486)  @*info@digitsimplified.com*@</p>
                        </div>
                    </div>
                    <!-- /.info -->
                </div>
                <!-- /.col-md-4 -->
                @*<div class="col-md-4">
                        <h3 class="footer_title">Find On Map</h3>
                        <div class="google-map">
                            <div class="gmap3-area" data-lat="23.733248" data-lng="90.412040" data-mrkr="~/App_Themes/img/map_marker.png">
                            </div>
                            <!-- /.gmap3-area -->
                        </div>
                        <!-- /.google-map -->
                    </div>*@
                <!-- /.col-md-4 -->
                <div class="col-md-6">
                    <h3 class="footer_title">Get In Touch</h3>
                    <form id="form" class="form-contactus" action="/home/contactus">
                        <input type="text" name="Name" id="name" placeholder="Name" style="font-family: Helvetica Neue, Helvetica;">
                        <input type="text" name="email" id="email" placeholder="Email" style="font-family:Helvetica Neue, Helvetica;">
                        <textarea name="Massage" id="massage" placeholder="Message" style="font-family:Helvetica Neue, Helvetica;"></textarea>
                        <button type="submit" href="info@digitsimplified.com" class="dt-btn">Send Message</button>
                    </form>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <button style="display:none" id="modalOpen" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Plase Correct Exceptions</h4>
                    </div>
                    <div class="modal-body">
                        <p id="err-messages">Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.footer_contact -->
    <!--=========================-->
    <!--=        Footer         =-->
    <!--=========================-->
    <section id="dt-footer">
        <div class="container">
            <p>2017 © @*<span>DSS</span>.*@ All Rights Reserved. <a href="#">DIGIT SIMPLIFIED SOLUTIONS Inc.</a></p>
        </div>
        <!-- /.container -->
    </section>
    <!-- /#site -->
    <!-- Dependency Scripts -->
    <script src="~/Dependencies/jquery/jquery.min.js"></script>
    <script src="~/Dependencies/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Dependencies/jPushMenu/jPushMenu.js"></script>
    <script src="~/Dependencies/headroom.js/headroom.js"></script>
    <script src="~/Dependencies/Swiper/js/swiper.min.js"></script>
    <script src="~/Dependencies/wow/wow.min.js"></script>
    <script src="~/Dependencies/countUp.js/countUp.min.js"></script>
    <script src="~/Dependencies/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Dependencies/jquery.appear.bas2k/jquery.appear.js"></script>
    <script src="~/Dependencies/plyr/js/plyr.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAssaWBjq7xp_L88KSNA6X7wVA-HxF9rtM"></script>
    <script src="~/Dependencies/gmap3/gmap3.min.js"></script>
    <script src="~/App_Themes/js/TweenMax.min.js"></script>
    <script src="~/App_Themes/js/ScrollToPlugin.min.js"></script>
    <script src="~/Dependencies/lightgallery/lightgallery-all.min.js"></script>
    <script src="~/Dependencies/jquery.stellar/jquery.stellar.min.js"></script>
    <!-- Site Scripts -->
    <script src="~/App_Themes/js/smooth-scroll.js"></script>
    <script src="~/App_Themes/js/app.js"></script>
    <script src="~/App_Themes/js/CanvasDots/script.js"></script>
    <script src="~/App_Themes/js/CanvasDots/canvasdots.js"></script>
    <script>
        $(document).ready(function () {
            //function submitContactUs(e) {
            //    e.prev
            //}
            $("#Newsletter").submit(function (e) {
                var msg = [];
                if ($('#srch-term').val() == '') {
                    msg.push('Email is required')
                }
                else if (!isValidEmailAddress($('#srch-term').val())) {
                    msg.push('Kindly enter valid email address')
                }
                if (msg.length > 0) {
                    openModal(msg);
                    return false;
                }
                return true;
            });
            $(".form-contactus").submit(function (e) {
                var msg = [];
                if ($('#name').val() == '') {
                    msg.push('Name is required');
                }
                if ($('#email').val() == '') {
                    msg.push('Email is required');
                }
                else if ($('#email').val() == '' || !isValidEmailAddress($('#email').val())) {
                    msg.push('Kindly enter valid email address');
                }
                if ($('#massage').val() == '') {
                    msg.push('Message is required');
                }
                if (msg.length > 0) {
                    openModal(msg);
                    return false;
                }
                return true;
            });
            function isValidEmailAddress(emailAddress) {
                var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
                return pattern.test(emailAddress);
            };
            function openModal(msg) {
                var f = [];
                for (var i = 0; i <= msg.length - 1; i++) {
                    f[i] = '<p style="color: red;">' + msg[i] + '*</p>'
                }
                //msg.split(',').join("<br />")
                $('#myModal .modal-body').html(f);
                $('#modalOpen').trigger('click');
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
