@{
    ViewBag.Title = "HomePage";
}
<!--=========================-->
<!--=        Banner         =-->
<!--=========================-->
<style>
    @@font-face {
        font-family: 'Ur';
        src: url(App_Themes/fonts/Uranus.ttf) format("truetype");
    }

    body {
        font-family: Ur;
    }

    #feature-two {
        padding: 100px 0 !important;
    }

    .applo-feature-item .icon-box .feature-icon.color-3 i {
        background: #c21fff !important;
    }

    .applo-feature-item .icon-box .feature-icon.color-2 i {
        background: #5fc23c !important;
    }

    .applo-feature-item .icon-box .feature-icon i {
        background-color: #ff9700 !important;
    }
</style>
<div class="content">
    <section id="dt-banner" class="banner-two">
        <div class="parallax-bg">
            <img src="~/App_Themes/img/Banner-5-r1.jpg" alt="Mobile" class="cloud1">
            @*<img src="~/App_Themes/img/b_item_1.png" alt="Mobile" class="cloud1">
                <img src="~/App_Themes/img/b_item_2.png" alt="Mobile" class="cloud2">
                <img src="~/App_Themes/img/b_item_3.png" alt="Mobile" class="cloud3">
                <img src="~/App_Themes/img/b_item_4.png" alt="Mobile" class="cloud4">
                <img src="~/App_Themes/img/b_item_5.png" alt="Mobile" class="cloud5">*@
        </div>
        <div class="canvas-block" style="height:100%;">
            <canvas id="myCanvas6" style="position: absolute;width: 70%; top: 30%;"></canvas>
        </div>
        <div class="banner-container">
            <div class="dt-half-width banner-two">
                <div class="slider-content">
                    @*<div class="slider-title">
                            <h2>Digit Simplified Solution</h2>
                        </div>*@
                    <p>
                        @*Applo is the best recipe app in the world , it’s suiteble for all smartphone <br> Like iPhone, android, windows. You can download it easily from these*@
                    </p>
                    @*<a href="#" class="dt-btn">Download</a>
                        <a href="#" class="dt-btn color-2">Learn More</a>*@
                </div>
                <!-- /.slider-content -->
            </div>
            <div class="dt-half-width dt-half-width-img">
                @*<div class="slider-images">
                        <img src="~/Content/Images/banner/b1.png" class="mobile-1" alt="mobile">
                        <img src="~/Content/Images/banner/b2.png" class="mobile-2" alt="mobile">
                    </div>*@
            </div>
        </div>
    </section>
    <!-- /#dt-banner -->
    <!--========================-->
    <!--=        About         =-->
    <!--========================-->
    <section id="about-us" data-bg-image="/Content/Images/about/about_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-thumb wow fadeInleft">
                        <img src="~/App_Themes/img/about-us.jpg" style="width: 450px; height:auto" alt="">
                    </div>
                    <!-- /.about-thumb -->
                </div>
                <!-- /.col-md-5 -->
                <div class="col-md-7">
                    <div class="about-content">
                        @*<h2 class="wow fadeInleft" data-wow-delay="0.3s">About DIGIT SIMPLIFIED SOLUTIONS</h2>*@
                        <h2 class="wow fadeInleft" data-wow-delay="0.3s"> ABOUT </h2>
                        <h2 class="wow fadeInleft" data-wow-delay="0.3s" style="color: #fec20e;"> DIGIT </h2>
                        <h2 class="wow fadeInleft" data-wow-delay="0.3s" style="color: #fec20e;"> SIMPLIFIED </h2>
                        <h2 class="wow fadeInleft" data-wow-delay="0.3s" style="color: #fec20e;"> SOLUTIONS </h2>
                        <p class="wow fadeInleft" data-wow-delay="0.4s">
                            Our team at DIGIT SIMPLIFIED SOLUTIONS takes the initiative to understand the business values which helps to transform ideas into action and adding values for their online presence along with their products and services. Our commitment to you is to earn your business for a longer term and become your digital partner
                        </p>
                        @*<p class="wow fadeInleft" data-wow-delay="0.3s"></p>*@
                        @*<a href="#" class="dt-btn color-1 wow flipInX">Download</a>
                            <a href="#" class="dt-btn color-2 wow flipInX">Learn more</a>*@
                    </div>
                    <!-- /.about-content -->
                </div>
                <!-- /.col-md-7 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#about-us -->
    <!--========================-->
    <!--=        Food          =-->
    <!--========================-->
    <section id="feature-two">
        <div class="container">
            <div class="feature-thumb wow fadeInLeft">
                <img src="~/Content/Images/feature/feature-4.jpg" style="width: 60%;margin-top: 30%;padding-left: 50px;" alt="feaure">
            </div>
            <div class="col-md-8 pull-right">
                <div class="feature_content">
                    <h2 class="wow fadeInUp">DSS Approach</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item wow fadeInUp" data-wow-delay="0.1s">
                                <i class="icon-badge icons"></i>
                                <div class="content">
                                    <h4>Innovation</h4>
                                    <p>
                                        In the ocean of internet, a dedicated team of professional will provide you best available solutions to earn 100% customer satisfaction
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature-item -->
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                                <i class="icon-support icons"></i>
                                <div class="content">
                                    <h4>Creative</h4>
                                    <p>
                                        In this rapid changing technology driven age, when computer-based information systems have emerged as key determinants of organizational effectiveness and competitiveness
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature-item -->
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item wow fadeInUp" data-wow-delay="0.1s">
                                <i class="icon-settings iconss"></i>
                                <div class="content">
                                    <h4>Business Intelligence</h4>
                                    <p>
                                        Our market research team will provide you insights of your targeted audience and suggest solutions that fit your organizational needs.
                                    </p>
                                </div>
                                <!-- /.content -->
                            </div>
                            <!-- /.feature-item -->
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                                <i class="icon-globe icons"></i>
                                <div class="content">
                                    <h4>Ideas</h4>
                                    <p>
                                        Putting innovative ideas into action in the same fashion raises the likelihood of success or failure for the change
                                    </p>
                                </div>
                                <!-- /.content -->
                            </div>
                            <!-- /.feature-item -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.feature_content -->
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /#feature -->
    <!--=============================-->
    <!--=        Applo Chef         =-->
    <!--=============================-->
    <section id="applo-chef" class="applo-chef-two" data-bg-image="/Content/Images/chef/chef_bg.png">
        <div class="container">
            <h1 class="section-title title-two wow fadeInUp"><span>DSS</span> Services</h1>
            <p class="caption wow fadeInUp" data-wow-delay="0.2s"> Have Questions? Ask Geeks! </p>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="chef-member wow fadeInRight" data-wow-delay="0.3s">
                        <div class="chef-thumb">
                            <img src="~/Content/Images/Service/1.png" style="height: 250px;" alt="Chef">
                            <div class="chef-details chef-two color-1">
                                <h3>Software Development</h3>
                                <p>Microsoft Certified</p>
                                <ul class="big-social-link">
                                    <li><a href="javascript:;" onclick="contactUs('softwaredev')">Get Quote</a></li>
                                    @*<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>*@
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>*@
                                </ul>
                            </div>
                            <!-- /.chef-details chef-two -->
                        </div>
                        <!-- /.chef-thumb -->
                    </div>
                    <!-- /.chef-member -->
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="chef-member wow fadeInRight" data-wow-delay="0.4s">
                        <div class="chef-thumb">
                            <img src="~/Content/Images/Service/2.png" style="height: 250px;" alt="Chef">
                            <div class="chef-details chef-two color-2" style=" padding: 20px 0; ">
                                <h3>Web Design</h3>
                                <p>Responsive Design</p>
                                <ul class="big-social-link" style="margin-top: 25px; ">
                                    <li><a href="javascript:;" onclick="contactUs('webdesign')">Get Quote</a></li>
                                    @*<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>*@
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>*@
                                </ul>
                            </div>
                            <!-- /.chef-details chef-two -->
                        </div>
                        <!-- /.chef-thumb -->
                    </div>
                    <!-- /.chef-member -->
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="chef-member wow fadeInRight" data-wow-delay="0.5s">
                        <div class="chef-thumb">
                            <img src="~/Content/Images/Service/3.png" style="height: 250px;" alt="Chef">
                            <div class="chef-details chef-two color-3">
                                <h3>Software Maintenance</h3>
                                <p>BI innovations & Maint.</p>
                                <ul class="big-social-link">
                                    <li><a href="javascript:;" onclick="contactUs('softwaremat')">Get Quote</a></li>
                                    @*<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>*@
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>*@
                                </ul>
                            </div>
                            <!-- /.chef-details chef-two -->
                        </div>
                        <!-- /.chef-thumb -->
                    </div>
                    <!-- /.chef-member -->
                </div>
                <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="chef-member wow fadeInRight" data-wow-delay="0.6s">
                        <div class="chef-thumb">
                            <img src="~/Content/Images/Service/4.png" style="height: 250px;" alt="Chef">
                            <div class="chef-details chef-two color-4">
                                <h3>IT Consulting</h3>
                                <p>Progressive process of consulting</p>
                                <ul class="big-social-link">
                                    <li><a href="javascript:;" onclick="contactUs('itconsulting')">Get Quote</a></li>
                                    @*<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>*@
                                    @*<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>*@
                                </ul>
                            </div>
                            <!-- /.chef-details chef-two -->
                        </div>
                        <!-- /.chef-thumb -->
                    </div>
                    <!-- /.chef-member -->
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#appolo_chef -->
    <!--=================================-->
    <!--=         Applo Feature         =-->
    <!--=================================-->
    <section id="applo-feature" data-bg-image="/Content/Images/applo-feature/1.jpg">
        <div class="container">
            <h1 class="section-title title-two wow fadeInUp"><span>DSS</span> Core Feature</h1>
            <p class="caption wow fadeInUp" data-wow-delay="0.1s">Back bone of our analysis and development cycle</p>
            <div class="feature-wrapper" data-bg-image="/Content/Images/applo-feature/applo_bg_two.png">
                <div class="row">
                    <div class="col-md-4">
                        <div class="applo-feature applo-feature-two">
                            <div class="applo-feature-item applo-feature-item-two feature-left wow fadeInLeft" data-wow-delay="0.3">
                                <div class="icon-box">
                                    <div class="feature-icon color-1">
                                        <i class="flaticon-dish" style="background: url(Content/Images/feature/security-features.png) 15px 14px;background-repeat: no-repeat;"></i>
                                    </div>
                                </div>
                                <div class="feature-content">
                                    <h4>Security Features</h4>
                                    <p>
                                        Here is 1000 plus world class chef for<br> your family daily needs.
                                    </p>
                                </div>
                            </div>
                            <!-- /.applo-feature-item -->
                            <div class="applo-feature-item feature-left position-one wow fadeInLeft" data-wow-delay="0.3s">
                                <div class="icon-box">
                                    <div class="feature-icon color-2">
                                        <i class="flaticon-dish app-feature"></i>
                                    </div>
                                </div>
                                <div class="feature-content">
                                    <h4>Apps Features</h4>
                                    <p>
                                        Here is 1000 plus world class chef for your family daily.
                                    </p>
                                </div>
                            </div>
                            <!-- /.applo-feature-item -->
                            <div class="applo-feature-item feature-left position-two wow fadeInLeft" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <div class="feature-icon color-3">
                                        <i class="flaticon-dish social-feature" style="background: url(Content/Images/feature/social-media-features.png) 15px 14px;background-repeat: no-repeat;"></i>
                                    </div>
                                </div>
                                <div class="feature-content">
                                    <h4>Social Media Features</h4>
                                    <p>
                                        Here is 1000 plus world class chef for<br> your family daily needs.
                                    </p>
                                </div>
                            </div>
                            <!-- /.applo-feature-item -->
                        </div>
                        <!-- /.applo-feature -->
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="applo-thumb">
                            <img src="~/Content/Images/feature/core-features.PNG" alt="">
                        </div>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="applo-feature applo-feature-two">
                            <div class="applo-feature-item feature-right wow fadeInRight" data-wow-delay="0.3s">
                                <div class="icon-box">
                                    <div class="feature-icon color-1">
                                        <i class="flaticon-dish" style="background: url(Content/Images/feature/big-data-features.png) 15px 14px;background-repeat: no-repeat;"></i>
                                    </div>
                                </div>
                                <div class="feature-content">
                                    <h4>Big Data Features</h4>
                                    <p>
                                        Here is 1000 plus world class chef for<br> your family daily needs.
                                    </p>
                                </div>
                            </div>
                            <!-- /.applo-feature-item -->
                            <div class="applo-feature-item feature-right position-right-one wow fadeInRight" data-wow-delay="0.4s">
                                <div class="icon-box">
                                    <div class="feature-icon color-2">
                                        <i class="flaticon-dish startup-feature"></i>
                                    </div>
                                </div>
                                <div class="feature-content">
                                    <h4>Startups Features</h4>
                                    <p>
                                        Here is 1000 plus world class chef for your family daily.
                                    </p>
                                </div>
                            </div>
                            <!-- /.applo-feature-item -->
                            <div class="applo-feature-item feature-right position-right-two wow fadeInRight" data-wow-delay="0.5s">
                                <div class="icon-box">
                                    <div class="feature-icon color-3">
                                        <i class="flaticon-dish cloud-feature" style="background: url(Content/Images/feature/cloud-feature.png) 15px 14px;background-repeat: no-repeat;"></i>
                                    </div>
                                </div>
                                <div class="feature-content">
                                    <h4>Cloud Features</h4>
                                    <p>
                                        Here is 1000 plus world class chef for<br> your family daily needs.
                                    </p>
                                </div>
                            </div>
                            <!-- /.applo-feature-item -->
                        </div>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.feature-wrapper -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /#applo-feature -->
    <!--==========================-->
    <!--=        Pricing         =-->
    <!--==========================-->
    <section id="pricing" data-bg-image="/Content/Images/pricing/pricing.jpg" data-parallax="image">
        <div class="container">
            <h1 class="section-title wow fadeInUp"><span>Great</span> <span style="color: #00ffff !important;">Pricing</span></h1>
            <p class="wow fadeInUp" data-wow-delay="0.1s">Chose a awesome packege those suiteble for you.</p>
            <div class="pricing-table-two">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="price-table wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="color-purple">Professional</h3>
                            <span>$499.00</span>
                            <h4>Be Professional With Us</h4>
                            @*<img src="~/Content/Images/pricing/8.png" alt="Spoon">*@
                            <ul class="cooking">
                                <li>3 Pages Custom Web Design</li>
                                <li>Slideshow Banner</li>
                                <li>Professional, modern & clean look</li>
                                <li>Responsive design (mobile ready)</li>
                                <li>Self Content Management System (CMS)</li>
                                <li>Contact Form & 5 Emails</li>
                                <li>FREE 1 Year Domain Name</li>
                                <li>FREE 1 Year Web Hosting</li>
                                <li>with 1 year SSL certificate</li>
                                <li>5 Stock Photos</li>
                                <li>2 Round of Revisions</li>
                                <li>You Own Everything</li>
                                <li>1-2 Weeks Turnaround Time</li>
                                <li>100% Satisfaction Guarantee</li>
                                @*<li class="none">X</li>*@
                            </ul>
                            <a href="/#contact" class="dt-btn btn-purple">Order</a>
                        </div>
                        <!-- /.price-table -->
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="price-table wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="color-purple">Adds</h3>
                            @*<h4>Be Socialise With Us</h4>*@
                            @*<span>$399.00</span>
                                <h4>Development</h4>
                                <img src="~/Content/Images/pricing/8.png" alt="Spoon">*@
                            <ul class="cooking">
                                <li>Mobile Apps</li>
                                <li>Digital Marketing</li>
                                <li>Logo Designing</li>
                                <li>SEO Services</li>
                                <li>Social Media Account Management</li>
                                <li>Email Campaigns</li>
                                <li>Ad-hoc Reporting</li>
                                <li>Website Security</li>
                                <li>Digital Video Production</li>
                                <li>Business Metrics Dashboards</li>
                                @*<li class="none">X</li>*@
                            </ul>
                            <a href="/#contact" class="dt-btn btn-purple">Order</a>
                        </div>
                        <!-- /.price-table -->
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4">
                        <img src="/Content/Images/pricing/delux-ribbon.png" alt="Spoon" style="position: absolute;width: 50%;z-index: 1; top: 0;margin-top: -13px;">
                        <div class="price-table wow fadeInRight" data-wow-delay="0.4s" style=" padding: 62.5px 0;">
                            <h3 class="color-orange">Corporate</h3>
                            <span>$999.00</span>
                            <h4>Have a corporate presence online!</h4>
                            @*<img src="~/Content/Images/pricing/9.png" alt="Spoon">*@
                            <ul class="cooking">
                                <li>5 Pages Custom Web Design</li>
                                <li>Slideshow Banner</li>
                                <li>Professional, modern & clean look</li>
                                <li>Responsive design (mobile ready)</li>
                                <li>Self Content Management System (CMS)</li>
                                <li>Contact Form & 10+ Emails</li>
                                <li>Social Media Integration* </li>
                                <li>Google Maps</li>
                                <li>FREE 1 Year Domain Name</li>
                                <li>FREE 1 Year Web Hosting</li>
                                <li>with 1 year Business SSL certificate</li>
                                <li>10 Stock Photos</li>
                                <li>5 Round of Revisions</li>
                                <li>You Own Everything</li>
                                <li>2-3 Weeks Turnaround Time</li>
                                <li>1 Month FREE Support</li>
                                <li>100% Satisfaction Guarantee</li>
                            </ul>
                            <br />
                            <a href="/#contact" class="dt-btn btn-purple">Order</a>
                        </div>
                        <!-- /.price-table -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.pricing-table-two -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.pricing -->
    <!--==============================-->
    <!--=        Screenshots         =-->
    <!--==============================-->
    <section id="screenshot" class="screenshot-two" data-parallax="image" data-bg-image="/Content/Images/screenshot/zcreenshot.jpg">
        <div class="overlay-image" data-bg-image="/Content/Images/screenshot/1.png"></div>
        <!-- /.ooverlay-image -->
        <div class="container">
            <h1 class="section-title">Screenshots</h1>
            <p class="caption">Take a look on these image, our development scenarios</p>
        </div>
        <!-- /.container -->
        <div class="screenshoot-container">
            <div id="screenshot-items" class="owl-carousel owl-theme">
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s12.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s2.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s3.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s4.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s5.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s6.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s13.jpg" alt="">
                    </div>
                </div>
                <div class="screenshot-item">
                    <div class="testi-tuumb">
                        <img src="~/Content/Images/screenshot/s8.jpg" alt="">
                    </div>
                </div>
                @*<div class="screenshot-item">
                        <div class="testi-tuumb">
                            <img src="~/Content/Images/screenshot/s9.jpg" alt="">
                        </div>
                    </div>
                    <div class="screenshot-item">
                        <div class="testi-tuumb">
                            <img src="~/Content/Images/screenshot/s10.jpg" alt="">
                        </div>
                    </div>
                    <div class="screenshot-item">
                        <div class="testi-tuumb">
                            <img src="~/Content/Images/screenshot/s11.jpg" alt="">
                        </div>
                    </div>
                    <div class="screenshot-item">
                        <div class="testi-tuumb">
                            <img src="~/Content/Images/screenshot/s12.jpg" alt="">
                        </div>
                    </div>
                    <div class="screenshot-item">
                        <div class="testi-tuumb">
                            <img src="~/Content/Images/screenshot/s13.jpg" alt="">
                        </div>
                    </div>*@
            </div>
            <div class="top-mobile wow fadeIn" data-wow-duration=".5s" data-wow-delay="1s">
                <img src="~/Content/Images/screenshot/mobile.png" alt="">
            </div>
            <!-- /.top-mobile -->
        </div>
        <!-- /.screenshoot-container -->
        <span class="sape"></span>
    </section>
    <!-- /#screenshot -->
    @*<!--==============================-->
        <!--=        Applo Video         =-->
        <!--==============================-->
        <section class="applo-video-two" data-bg-image="/Content/Images/video/video_bg_two.jpg">
            <h2 class="section-title wow fadeInUp"><span>Applo</span> Video</h2>
            <p class="wow fadeInUp" data-wow-delay="0.1s">If you want to know about applo, please see this video.</p>
            <div class="owl-carousel" id="video-slider">
                <div class="item" data-src="https://vimeo.com/189570347">
                    <img src="~/Content/Images/video/2.jpg" alt="Video One">
                    <div class="slider-overlay">
                        <div class="play">
                            <img src="~/Content/Images/video/play.png" alt="">
                        </div>
                    </div>
                    <!-- /.slider-overlay -->
                </div>
                <div class="item" data-src="https://youtu.be/Rv9hn4IGofM">
                    <img src="~/Content/Images/video/2.jpg" alt="Video Two">
                    <div class="slider-overlay">
                        <div class="play">
                            <img src="~/Content/Images/video/play.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="item" data-src="https://www.youtube.com/watch?v=c8aFcHFu8QM">
                    <img src="~/Content/Images/video/2.jpg" alt="Video Three">
                    <div class="slider-overlay">
                        <div class="play">
                            <img src="~/Content/Images/video/play.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="item" data-src="https://www.youtube.com/watch?v=CO4WCB_zvJE">
                    <img src="~/Content/Images/video/2.jpg" alt="Video Four">
                    <div class="slider-overlay">
                        <div class="play">
                            <img src="~/Content/Images/video/play.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.applo-video -->*@

    <!--==============================-->
    <!--=        Testimonial         =-->
    <!--==============================-->
    <section id="testimonial" data-bg-image="/Content/Images/testimonial/testimonial_bg-two.jpg" data-parallax="image">
        <div class="container">
            <h1 class="section-title wow fadeInUp"><span></span> Review</h1>
            <p class="caption wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0.5s">Here we highlight some of the DSS user review.</p>
            <div class="owl-carousel testimonial-two owl-theme" id="testimonial-item">
                <div class="testimonial-item  color-1">
                    @*<div class="testi-tuumb">
                            <img src="~/Content/Images/testimonial/1.jpg" alt="">
                        </div>*@
                    <div class="client-talk">
                        <p>
                            “Very easy to work with. I was glad to learn this information.
                        </p>
                    </div>
                    <h2>John Beal</h2>
                    <span>Realtor, Coldwell Banker</span>
                </div>
                <div class="testimonial-item  color-2">
                    @*<div class="testi-tuumb">
                            <img src="~/Content/Images/testimonial/2.jpg" alt="">
                        </div>*@
                    <div class="client-talk">
                        <p>
                            “Excellent service and customer support!! .
                        </p>
                    </div>
                    <h2>Alie Gattis</h2>
                    <span>Director of Marketing, Greenridge Realty</span>
                </div>
                @*<div class="testimonial-item  color-3">
                        <div class="testi-tuumb">
                                <img src="~/Content/Images/testimonial/3.jpg" alt="">
                            </div>
                        <div class="client-talk">
                            <p>
                                “Applo is the best i have ever seen, you <br> can use it any debout.
                            </p>
                        </div>
                        <h2>Javier Mejia</h2>
                        <span>CEO, At Google</span>
                    </div>*@
                <div class="testimonial-item color-1">
                    @*<div class="testi-tuumb">
                            <img src="~/Content/Images/testimonial/4.jpg" alt="">
                        </div>*@
                    <div class="client-talk">
                        <p>
                            “Thank you, your efforts are worthy for us no doubt
                        </p>
                    </div>
                    <h2>Beal Jackie</h2>
                    <span>Cottingham Chalk Hayes</span>
                </div>
                <div class="testimonial-item color-2">
                    @*<div class="testi-tuumb">
                            <img src="~/Content/Images/testimonial/5.jpg" alt="">
                        </div>*@
                    <div class="client-talk">
                        <p>
                            “Best business processes and acknowledgement .
                        </p>
                    </div>
                    <h2>Hester sharp</h2>
                    <span>Union bicycle, MD</span>
                </div>
                <div class="testimonial-item color-1">
                    @*<div class="testi-tuumb">
                            <img src="~/Content/Images/testimonial/7.jpg" alt="">
                        </div>*@
                    <div class="client-talk">
                        <p>
                            “Nice guy. Very responsive to my needs and questions. Good asset to your company.
                        </p>
                    </div>
                    <h2>Javier Perez, MD</h2>
                    <span>Orlando Eye Specialists</span>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /#testimonial -->
    <!--=============================-->
    <!--=        Newsletter         =-->
    <!--=============================-->
    <section id="newsletter" class="newsletter-two" data-bg-image="/Content/Images/newslatter/newletter.jpg" data-parallax="image">
        <div class="container">
            <h4 class="section-title wow fadeInUp"><span>DSS</span> Newsletter</h4>
            <p class="caption wow fadeInUp" data-wow-delay="0.1s">
                To subscribe with us, enter your email address below.  (We don’t like spam!)
            </p>
            <form action="/home/newsletter" id="Newsletter" class="navbar-form search wow fadeInUp" data-wow-delay="0.2s" role="search" method="post">
                <div class="input-group add-on">
                    <input class="form-control" placeholder="Your Email Address Heare" name="srchTerm" id="srch-term" type="text">
                    <button class="dt-btn" type="submit">Subscribe</button>
                    <button class="dt-btn" style="display:none" data-toggle="modal" data-target="#myModal" id="BoxValidation" type="button"></button>
                </div>
            </form>
            <div class="social-wrapper clearfix wow fadeInUp" data-wow-delay="0.3s">
                <h3>Find US On Social</h3>
                <ul class="dt-social-link">
                    <li class="color-1"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li class="color-1"><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    @*<li class="color-1"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="color-2"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="color-3"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li class="color-4"><a href="#"><i class="fa fa-behance"></i></a></li>*@
                </ul>
            </div>
            <!-- /.social-wrapper -->
        </div>
        <!-- /.container -->
    </section>
</div>
<script>
    function contactUs(service) {
        if (service && service.length > 0) {
            switch (service) {
                case "webdesign":
                    $('#Web_Design').show();
                    $('#Software_Development').hide();
                    $('#Software_Maintenance').hide();
                    $('#IT_Consulting').hide();
                    $('#Contact_info').hide();
                    $('html,body').animate({ scrollTop: $("#Web_Design").offset().top }, 'slow');
                    break;
                case "softwaredev":
                    $('#Web_Design').hide();
                    $('#Software_Development').show();
                    $('#Software_Maintenance').hide();
                    $('#IT_Consulting').hide();
                    $('#Contact_info').hide();
                    $('html,body').animate({ scrollTop: $("#Software_Development").offset().top }, 'slow');
                    break;
                case "softwaremat":
                    $('#Web_Design').hide();
                    $('#Software_Development').hide();
                    $('#Software_Maintenance').show();
                    $('#IT_Consulting').hide();
                    $('#Contact_info').hide();
                    $('html,body').animate({ scrollTop: $("#Software_Maintenance").offset().top }, 'slow');
                    break;
                case "itconsulting":
                    $('#Web_Design').hide();
                    $('#Software_Development').hide();
                    $('#Software_Maintenance').hide();
                    $('#IT_Consulting').show();
                    $('#Contact_info').hide();
                    $('html,body').animate({ scrollTop: $("#IT_Consulting").offset().top }, 'slow');
                    break;
                default:
                    break;
            }
        }
        else {
            $('#Web_Design').hide();
            $('#Software_Development').hide();
            $('#Software_Maintenance').hide();
            $('#IT_Consulting').hide();
            $('#Contact_info').show();
            $('html,body').animate({ scrollTop: $("#Contact_info").offset().top }, 'slow');
        }
    }
</script>
<!--============================-->
<!--=        Get Applo         =-->
<!--============================-->
@*<section id="get-applo" class="get-applo-two" data-bg-image="/Content/Images/partner/beourpartner.jpg" data-parallax=" image">
    <div class="container">
        <div class="applo">
            <div class="row">
                <div class="col-md-6">
                    <div class="applo-thumb wow fadeInLeft">
                        <img src="~/App_Themes/img/Background-licensed - one time only.jpg" style="width: 72%;height: auto;border-radius: 113px;border: 5px solid #fea;" alt="Apllo">
                    </div>
                </div>

                <div class="col-md-6">
                    <h1 class="section-title title-two wow fadeInUp" data-wow-delay="0.1s">BE <span>Our</span> Partners Now!</h1>
                    <p class="applo-caption wow fadeInUp" data-wow-delay="0.2s">
                        We can convert ideas into reality, Website for any business is a virtual reality and that is how most organizations are perceived by customers and community for their culture, ethics, and credibility
                    </p>*@
@* <a href="#" class="app-btn app-btn-two wow flipInX" data-wow-delay="0.3s">
        <!-- <img src="~/Content/Images/applo/3.png" alt="App"> -->
        <i class="fa fa-apple"></i>
        <span>Download It Form </span>
        <p>App Store</p>
    </a>
    <a href="#" class="app-btn app-btn-two wow margin-none flipInX" data-wow-delay="0.4s">
        <img src="~/Content/Images/applo/4.png" alt="App">
        <span>Download It Form </span>
                        <p>Google Play</p>
                    </a>*@
@*<div class="download wow fadeInUp" data-wow-delay="0.5s">
                            <h4 class="color-two">Trusted by  <span>74,212+</span> Members</h4>
                        </div>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="countup wow fadeInUp" data-wow-delay="0.6s">
                        <div class="count-bg svg-color-1">
                            <svg viewBox="0 0 1 1"><use xlink:href='~/App_Themes/img/icons.svg#shape-1'></use></svg>
                            <div class="count text-center">
                                <h2 id="chef" data-counter="150">150</h2>
                                <p>Clients</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="countup wow fadeInUp" data-wow-delay="0.7s">
                        <div class="count-bg svg-color-2">
                            <svg viewBox="0 0 1 1"><use xlink:href='~/App_Themes/img/icons.svg#shape-2'></use></svg>
                            <div class="count text-center">
                                <h2 id="update" data-counter="20">20</h2>
                                <p>Support Partners</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="countup wow fadeInUp" data-wow-delay="0.8s">
                        <div class="count-bg svg-color-3">
                            <svg viewBox="0 0 1 1"><use xlink:href='~/App_Themes/img/icons.svg#shape-3'></use></svg>
                            <div class="count text-center">
                                <h2 id="customer" data-counter="10">10k</h2>
                                <p>In-Communication</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="countup wow fadeInUp" data-wow-delay="0.9s">
                        <div class="count-bg">
                            <svg viewBox="0 0 1 1"><use xlink:href='~/App_Themes/img/icons.svg#shape-4'></use></svg>
                            <div class="count text-center">
                                <h2 id="download" data-counter="80">80k</h2>
                                <p>Visited</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>*@
